<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <slider>
            <general>
                <enabled>1</enabled>
                <display_text>5</display_text>
                    <enabled_slide>1</enabled_slide>
            </general>
        </slider>
    </default>
</config>
