<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
      <menu>
        <add id="AHT_Slider::slider" title="Slider AHT" module="AHT_Slider" sortOrder="10" resource="AHT_Slider::slider"/>
        <add id="AHT_Slider::featured" title="Manage Slide product" module="AHT_Slider" sortOrder="10" action="slider/slider/index" resource="AHT_Slider::slider" parent="AHT_Slider::slider"/>
        <add id="AHT_Slider::slider_configuration" title="Configuration" module="AHT_Slider" sortOrder="99" parent="AHT_Slider::slider" action="adminhtml/system_config/edit/section/slider" resource="AHT_Slider::slider_configuration"/>
        <add id="AHT_Slider::product" title="Manage Product Atribute" module="AHT_Slider" sortOrder="10" action="slider/featured/index" resource="AHT_Slider::post" parent="AHT_Slider::slider"/>
    </menu>
</config>
